$color1 :  #106ebe;
$color2 : #ffffff;
$color3 : #db135b;
$color4 : #ccc;
$color5 : #284481;
$color6 : #DF195C;


$box-shadow1: 0 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow2: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.15);
$box-shadow3: 0 0px 8px rgba(0, 0, 0, 0.1), 0 0px 8px rgba(0, 0, 0, 0.1);
$box-shadow4: 0 0px 8px rgba(0, 0, 0, 0.1), 0 0px 8px rgba(0, 0, 0, 0.1);


$iconColor1 : #6E7071