<h2 mat-dialog-title>Dispatched Inventory</h2>

<div mat-dialog-content>
  <form class="example-form" [formGroup]="diapatchedInventory" class="diapatchedInventory-form">
    <div class="form-container">
      <mat-form-field class="example-full-width">
        <mat-label>Serial Number</mat-label>
        <input matInput formControlName="serialNumber">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Type</mat-label>
          <input matInput formControlName="type">
      </mat-form-field>

        
      <mat-form-field class="example-full-width">
            <mat-label>Assigned To</mat-label>
            <input matInput formControlName="assignedTo">
      </mat-form-field>
    </div>

    <div class="form-container">
      <mat-form-field class="example-full-width">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location">
    </mat-form-field>

      
    <mat-form-field class="example-full-width">
          <mat-label>Status</mat-label>
          <input matInput formControlName="status">
    </mat-form-field>

    </div>
    
  </form>
</div>
  
  <div mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="onClickSave()">Save</button>
  </div>
  