.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .spinner {
    width: 150px;
    height: 150px;
    transition: transform 1s ease-in-out;
    animation: zoomAnimation 2s infinite ease-in-out;
  }
  
  /* Define the animation for zooming */
  @keyframes zoomAnimation {
    0% {
      width: 80px;
      height: 80px;
      transform: scale(1);
    }
    50% {
      width: 100px;
      height: 100px;
      transform: scale(1.5); /* Increase size */
    }
    100% {
      width: 80px;
      height: 80px;
      transform: scale(1); /* Back to original size */
    }
  }
  